<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">
<!--开启service包下的注解扫描-->
    <context:component-scan base-package="cn.itheima.service"></context:component-scan>
    <!--加载.properties配置文件-->
    <context:property-placeholder location="classpath:db.properties"></context:property-placeholder>
<!--配置连接池-->
    <bean id="dateSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"></property>
        <property name="jdbcUrl" value="${jdbc.url}"></property>
        <property name="user" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>
<!--配置sqlSessionFactoryBean工厂，把dataSource交给工厂对象管理-->
   <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
       <property name="dataSource" ref="dateSource"></property>
       <!--给domain包下的类起别名-->
       <property name="typeAliasesPackage" value="cn.itheima.domain"></property>
   </bean>
<!--扫描dao包下的接口，生成接口的代理类对象-->
    <bean id="scannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.itheima.dao"></property>
    </bean>
    <!--aop面向切面编程，切面就是切入点和通知的组合-->
    <!-- 配置Spring的声明式事务管理 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dateSource"></property>
    </bean>
    <!-- 配置事务通知-->
    <tx:advice id="interceptor" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="save*" propagation="REQUIRED"/>
            <tx:method name="update*" propagation="REQUIRED"></tx:method>
            <tx:method name="delect*" propagation="REQUIRED"/>
            <tx:method name="find*" read-only="true"></tx:method>
        </tx:attributes>
    </tx:advice>
    <!--设置切面-->
    <aop:config>
        <aop:pointcut id="pointcut" expression="execution(* cn.itheima.service.Impl.*.*(..))"/>
        <aop:advisor advice-ref="interceptor" pointcut-ref="pointcut"></aop:advisor>
    </aop:config>
</beans>